<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragments/header :: main-header" />
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="container">

    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        Title:
        <input th:field="*{title}" />
        <br />
        Description:
        <input th:field="*{body}" />
        <br />
        <input type="submit" />
    </form>

</div>




<th:block th:replace="fragments/footer :: main-footer" />
</body>
</html>